<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Inventory Report</title>
</head>
<body>
<h2>Donor Inventory Report</h2>
<table>
  <thead>
  <tr>
    <th>Donor Name</th>
    <th>Donation Type</th>
    <th>Donation Amount</th>
    <th>Donation Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="donor : ${donor_list}">
    <td th:text="${donor.donor_name}"></td>
    <td th:text="${donor.donation_type}"></td>
    <td th:text="${donor.donation_amount}"></td>
    <td th:text="${donor.donation_date}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>